@{
    ViewData["Title"] = "Demo of ViewBag, ViewData and TempData";
}

<h1>@ViewData["Title"]</h1>

<p><strong>ViewBag:</strong>@ViewBag.Message</p>
<p><strong>ViewData:</strong>@ViewData["Info"]</p>
<p></p><strong>TempData:</strong>@TempData["Notice"]</p>


<a href="/Demo/RedirectToTempData">Go to TempData Demo</a>